.container {
  border: 1px dashed #CCC;
  position: relative;
}

.container > div {
  background: #AAA;
  position: absolute;
  height: 135px;
  width: 100px;
}

.container > .ss-placeholder-child {
  background: transparent;
  border: 1px dashed gray;
}

#messi-stats {
  position: absolute;
  display: none;
  width: 150px;
  height: 80px;
  top: 60%;
  left:45%;
  text-align: center;
 /* line-height: 80px;*/
}

#messi-stats a {
  color: white;
  text-decoration: none;
}

/* Skills Style 7 */

.skillst7{
  width:100%;
  color:#fff;
}
.skillst7 .skillbar{
  width: 100%;
  height: 40px;
  position:relative;
  margin-bottom:30px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f5f5f5;

}
.skillst7 .count-bar{
  height: 100%;
  width:0px;
  position:relative;
  height: 40px;
  -moz-border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #2b7ba3;

}
.skillst7 .title{
  font-size:14px;
  font-weight:400;
  padding-left:12px;
  line-height:40px;
  text-transform:uppercase;
  display:inline-block;
}
.skillst7 .count{
  line-height:40px;
  font-size:14px;
  font-weight:400;
  display:inline-block;
}